# Folder hasil build lokal
bin/
obj/
out/

# Source Control
.git/
.gitignore

# IDE / Editor
.vs/
.vscode/
*.user
*.suo
*.sln.dotsettings

# OS Files
.DS_Store
Thumbs.db

# Docker logs
*.log
docker-compose.override.yml