**/.git
**/.github
**/.vs
**/.vscode

**/bin
**/obj

**/*.user
**/*.suo
**/*.csproj.user

.env
.env.*

appsettings.Development.json
appsettings.Production.json

*.zip
*.rar
*.7z
*.bak
*.log

README.md
LICENSE
